<%- include('partials/header') -%>

    <main>
        <h1>Brand List</h1>
        <table>
            <thead>
                <tr>
                    <th>Shoe</th>
                    <th>Stability</th>
                    <th>Cushion</th>
                    <th colspan="2"><a href="/brands/create">+</a></th>
                </tr>
            </thead>

            <tbody>
                <% brands.forEach( el=> { %>
                    <tr>
                        <td>
                            <%= el.name %>
                        </td>
                        <td>
                            <%= el.assortment %>
                        </td>
                        <td>

                        </td>
                        <td>
                            <a href="/brands/<%= el._id %>">Edit</a>
                        </td>
                        <td>
                            <form action="/brands/delete/<%= el._id %>?_method=DELETE" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% })%>
            </tbody>
        </table>
    </main>

    <%- include('partials/footer') -%>